/* footer */
.footer {
  padding: 2rem;
  color: $offWhite;
  background: $darkBlack;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: $mainSpacing;
  font-size: 0.675rem;
  line-height: 2;
  margin-top: 2rem;
}

.footer span {
  font-family: $ff-secondary;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 0.875rem;
  }
}
/* end of footer */
